<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Workspace Admin</title>
</head>

  <body style="padding: 30px;">
  <h1>Workspace Admin</h1>
  <div style="display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 42px;
  ">
    <% data.forEach(function(data) { %>
    <div style="display: flex;
    flex-direction: column;
    width: 425px;
    gap: 10px;">
      <object width="425" height="350">
      <param  name="movie" value="<%= data.url %>" />
    </object>
  </div>
  <% }); %>

</div>
  
</body>
</html>